<%- include('../../partials/header.ejs') %>
<section id="pg_article">
  <div class="container">
    <div class="box">
      <div class="boxHeader">
        <h2>Editando Artigo</h2>
      </div>
      <div class="boxBody">
        <form action="/admin/article/save" method="POST">
          <div class="form_row">
            <input
              type="text"
              name="title"
              placeholder="Titulo"
              value="<%= article.title %>"
              required
            />
            <span class="slug_form">slug: </span>
          </div>

          <div class="form_row">
            <select name="category">
              <% categories.forEach(cat=>{ %> 
                <>
                <% if(article.blogCategoryId === cat.id ){ %>
                  <option value="<%= cat.id %>" selected><%= cat.title %></option>
                <% }else{ %> 
                  <option value="<%= cat.id %>"><%= cat.title %></option>
                <% } %>
                </>
              <% })%>
            </select>
          </div>

          <div class="form_row">
            <textarea name="content" id="edit_article"></textarea>

            <input type="hidden" name="id" value="<%= article.id %>" />
          </div>
          <button>Salvar</button>
        </form>
      </div>
    </div>
  </div>

  <div id="bodyContent" style="display: none"><%- article.content %></div>
</section>
<script src="/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    language: 'pt_BR',
    selector: '#edit_article',
    activeEditor: true,
    plugins: [
      'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons',
    ],
    init_instance_callback: () => {
      tinymce.get('edit_article').setContent(document.querySelector('#bodyContent').innerHTML);
    },
  });
</script>
<% %> <%- include('../../partials/footer.ejs') %>
