<%- include('../../partials/header.ejs') %>
<section id="pg_users">
  <div class="container">
    <div class="list_users">
      <div class="box">
        <div class="boxHeader">
          <h3>Usuarios</h3>
          <a href="/admin/users/new">Criar novo</a>
        </div>
        <div class="boxBody">
          <ul>
            <% users.map(user=>{ %>
            <li>
              <div style="min-width: 50%;"><%= user.email %></div>
              <div>
                <i class="far fa-edit" onclick="editArticle({id: <%= user.id %>})"></i>
                <i class="far fa-trash-alt" onclick="confirmDelete({id: <%= user.id %>})"></i>
              </div>
            </li>
            <% })%>
          </ul>
        </div>
      </div>
  </div>
</section>
<script>
  function confirmDelete(obj) {
    var exec = confirm('Deseja realmente este item?');
    if (exec == true) {
      window.location.href = `/admin/users/delete/${obj.id}`;
    }
  }

  function editArticle(obj){
    window.location.href = `/admin/users/edit/${obj.id}`;
  }
</script>
<%- include('../../partials/footer.ejs') %>
